extends ../layout

block content
  div.creator.row
    div.col.s12
      if scenario
        h1 Editar Cenário
        input(type='hidden', name='scenario-id', id='scenario-id', value=scenario._id)
      else
        h1 Novo Cenário
      .row
        .input-field.col.s6
          input(type='text', class='validate', id='scenario-name', name='scenario-name', value=(scenario) ? scenario.name : "")
          label(for='scenario-name') Nome:
        .input-field.col.s6
          input(type='text', class='validate', id='jira-id', name='jira-id', value=(scenario) ? scenario.jiraId : "")
          label(for='jira-id') Jira ID:

      .steps
        +step-input('model', '')(class='model')
        if scenario && scenario.steps
          each step in scenario.steps
            +step-input(step.moment, step.action)
        else
          +step-input("-", "")

      .more
        .btn-floating.btn-large.waves-effec.waves-light.green.center-align
          i.material-icons.action-button.add-step add
      .actions
        .row
          a.disabled.exporter.waves-effect.waves-light.btn-large.col.s3.blue.modal-trigger#jira-export-button(href="#jira-export", data-toggle="modal")  Exportar para Jira
          a.disabled.exporter.waves-effect.waves-light.btn-large.col.offset-s1.s3.blue.modal-trigger#behat-export-button(href="#behat-export", data-toggle="modal") Exportar para Behat
          a#save-scenario.waves-effect.waves-light.btn-large.col.offset-s1.s2.green Salvar
          if scenario
           - var path = "/scenario/edit/"+scenario._id+"/delete"
          else
           - var path = '#'
          a.disabled#delete-scenario.waves-effect.waves-light.btn-large.col.s2.red(href="#{path}") Apagar
          


  div#behat-export.modal.bottom-sheet
    .modal-content
      h4 Behat
      .modal-body.exporter
        textarea.materialize-textarea#behat-export-contents

  div#jira-export.modal.bottom-sheet
    .modal-content
      h4 Jira
      .modal-body.exporter
        textarea.materialize-textarea#jira-export-contents


mixin step-input(moment, action)
  .row.step&attributes(attributes)
    .input-field.col.s4
      select.moments
        if moments
          each item in moments
            if item.en !== moment
              option(value='#{item.en}')= item.br.replace(/\"/g, "'")
            else
              option(value='#{item.en}', selected)= item.br.replace(/\"/g, "'")
      label Momento
    .input-field.col.s7
      select.actions
        if actions
          each item in actions
            if item.en !== action
              option(value='#{item.en}')= item.br.replace(/\"/g, "'")
            else
              option(value='#{item.en}', selected)= item.br.replace(/\"/g, "'")
      label Ação
    .input-field.col.s1
      if moment
        .btn-floating.btn-large.waves-effec.waves-light.red
          i.material-icons.action-button.remove-step remove
