extends ../layout

block content
  div.creator.row
    div.col.s12
      h1 Cenários

    .row
      div.col.s12.input-field
        select.filter.filter-team
          #{team}
          option(value='') Escolha um time
          each item in team
            option(value='#{item}')= item
          
        label Filtro por time:

    .row
    ul.collection.with-heade
      each item in scenarios
        li.collection-item 
          span.title #{item.name}
          p #{item.jiraId}
            a.secondary-content(href='/scenario/edit/#{item._id}') editar  
